{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
    <h1 class="mb-4">{{ title }}</h1>

    <form method="post" class="mb-3">
        <div class="mb-3">
            <label for="title" class="form-label">Titre :</label>
            <input type="text" id="title" name="title" class="form-control" value="{{ post.title }}" required>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Contenu :</label>
            <textarea id="content" name="content" class="form-control" rows="5" required>{{ post.content }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Modifier</button>
    </form>

    <a href="{{ path('post_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
